.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.prompt-container {
  height: 300px;
  border: solid black 5px;
  font-size: 72px;
  overflow: scroll;
  position: relative;
  margin-top: 200px;
}
.prompt-container::-webkit-scrollbar {
  display: none;
}

.prompt-flip-text {
  transform: scaleX(-1);
}

#prompt-inner {
  position: relative;
}

.prompt-parent {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.wrapper {
  overflow-y: scroll;
  display: flex;
  margin: 0;

  height: 100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  @media (--screen-phone-lg) {
    flex-direction: row;
  }

}

.content {
  position: relative;
  top: var(--topbar-height);
  left: 0;

  flex: 1;
  order: 1;

  @media (--screen-phone-lg) {
    flex: 2;
    order: 2;
  }
}

.mainTitle{
  text-align: center;
}

.Login {
  text-align: center;
}

.Login .well {
  max-width: 400px;
  margin: 0 auto 10px;
}

.promptTextInput {
  min-height: 500px;
}
